<div class="child1">
<% if !@current_user %>
  <div class="welcomePage randomColor">
     <p class="summary"><em>LUCID</em> is an online dream journal meant to help users induce lucid dreams. Lucid dreaming is any dream during which the dreamer is aware of dreaming. During lucid dreaming, the dreamer may be able to exert some degree of control over the dream characters, narrative, and environment.</p>
     <p>Upon daily entries of any remembered dreams the night before, a user is more likely to induce a lucid dream. Dream journaling ultimately improves your awareness of the dream state, making it easier to wake up in dreams.</p>
  </div>
<% else %>
  <% redirect_to '/dreams' %>
<% end %>
</div>