<div class="child4">
  <div class="dreamPage">
    <h1>Dream Entries</h1>
    <div class="valign-wrapper">
      <a class="btn waves-effect waves-light center" href="/dreams/new"><i class="material-icons valign">add</i></a>
    </div>
    <% @dreams.each do |dream| %>
      <div class="card dreamCards">
        <div class="card-content white-text">
            <p><span class="card-title">Dream Title: <span><%= dream.title %></span></span></p>
            <br>
            <p id="summary">Dream Summary: <span><%= dream.summary %></span></p>
            <br>
            <p id="reflection">Personal Reflection: <span><%= dream.reflection %></span></p>
            <br>
            <p id="signs">Dream Signs: <span><%= dream.signs %></span></p>
            <br>
            <p id="lucidity">Reached lucidity? <span><%= dream.lucidity %></span></p>
            <br>
            <p id="date">Created On: <span><%= dream.created_at.strftime("%b %d %Y") %></span></p>
            <br>
            <%= link_to "Delete", dreams_path(:id => dream.id), :method => :delete, class: 'btn deleteBtn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>