<div class="child3">
<div class="newDream">
  <h1>Enter a new dream</h1>
  <div class="row">
    <div class="input-field col s12">
      <%= form_for @dream do |form| %>
        <%= form.text_field :title, placeholder: "dream title" %>
        <%= form.text_area :summary, placeholder: "dream summary", class: "materialize-textarea" %>
        <%= form.text_area :reflection, placeholder: "personal reflection", class: "materialize-textarea" %>
        <%= form.text_field :signs, placeholder: "dream signs" %>
        <div class="valign-wrapper">
        <%= form.check_box :lucidity, {}, true, false %> <%= form.label :lucidity, "lucid?" %>
        </div>
        <div class="valign-wrapper dreamSubmitBtn">
        <%= form.submit 'dream' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>