<div class="child2 randomColor">
  <div id="sideNav">
    <ul id="slide-out" class="">
      <li><div class="userView">
      </div></li>
        <li><a href="/" id="nav-logo" class="brand-logo">LUCID</a>
        <br>
        </li>
       
        <li><a id="isLoggedIn" class="subheader">
            <% if @current_user %>
              Welcome, <%= @current_user.name %>!
            <% else %>
              Currently not signed in
            <% end %>
        </a></li>
        
        <% if @current_user %>
            <%= link_to "Logout", "/auth/logout", class: "btn" %>
          <% else %>
            <%= link_to "Login via Facebook", "/auth/facebook", class: "btn" %>
          <% end %>
        <br>
        <li><a class="waves-effect topLinkSideNav" href="/dreams">Dreams</a>
        <li><a class="waves-effect" href="/dreams/info">Info</a>
      </li>
    </ul>
  </div>
</div>