<nav class="child5">
  <div class="nav-wrapper randomColor">
    <div class="topNav">
      <a href="/" class="brand-logo right">LUCID</a>
        <ul class="left">
          <li><a href="/dreams/info">Info</a></li>
          <li><a href="/dreams">Dreams</a></li>
           <li><a id="isLoggedIn" class="topNavLogin">
            <% if @current_user %>
              <%= link_to "Logout", "/auth/logout", class: "btn" %>
            <% else %>
              <%= link_to "Login", "/auth/facebook", class: "btn" %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>