html, body {
  height: 100%;
 box-shadow: 0px 0px 10px 2px #000;
}

.parent {
  display: flex;
  flex-flow: row;
  height: 100%;
}

.parentTopNav {
  display: flex;
  order: 1;
  flex-direction: row;
  background-color: #E07A5F;
  margin: 0;
  padding: 0;  
}

.child1, .child3, .child4 {
  flex: 4;
  background-color: #F4F1DE;
  overflow: auto;
  padding: 0 50px 0 50px;
}

.child2 {
  flex: 1;
  background-color: #95A3A4;
  overflow: auto;
  padding-left: 20px;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dreamCards {
  background-color: #81B29A;
}

nav {
  display: none;
  background-color: #E07A5F !important;
  color: black !important;
}

@media (max-width: 992px){
  .child2 {
    display: none;
  }

  nav {
    display: inline;
  }
}

/*Functional CSS above-Text styling below*/

.brand-logo {
  font-family: Norwester;
  font-size: 60px;
  color: black !important;
  padding-bottom: 20px; 
}

#isLoggedIn {
  color: white !important;
  opacity: 0.7;
  padding-bottom: 10px;
}

a {
  color: black;
  display: inline-block;
}

.topLinkSideNav {
  margin-top: 20px;
}

p, span {
  font-family: Lora;
  overflow-wrap: break-word;
  color: black;
}


h1 {
  font-family: Lora;

}

.dreamPage {
  display: flex;
  flex-direction: column;
}

.dreamSubmitBtn {
  margin-top: 30px;
}

#lucidity, .card-title, #summary, #reflection, #signs, #date {
  color: white;
  opacity: 0.7;

}

.welcomePage{
  font-size: 30px;
  margin-top: 120px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.infoSummary {
  font-size: 20px;
  text-align: justify;
}

table, td {
  border: 2px solid black;
}

td {
  height: 400px;
  width: 400px;
}

.topNavLogin {
  margin-top: -10px;
}
