<!DOCTYPE html>
<html>
<head>
  <title>LUCID: Dream Journaling Software</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script src="//code.jquery.com/jquery.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>
<div class="parentTopNav">
<%= render 'partials/topnav', className: 'topNav' %>
</div>
<div class="parent">
<%= render 'partials/sidenav' %>
<%= yield %>
</div>
<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
</body>
</html>
